@import url("base.css");
@import url("dialog.css");

:root {
  --color-glow-dark: #f5ca72;
  --color-glow: #fedb94;
  --color-text: #4d422d;
  --color-background: linear-gradient(146deg, #f9fafb 0%, #fedb94 100%);
  --header-height: 18rem;
}

body {
  position: relative;
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
}

header {
  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("assets/img/publ_beach.jpg");
  background-image: image-set(
    url("assets/img/publ_beach_1200.avif") type("image/avif"),
    url("assets/img/publ_beach_1200.webp") type("image/wepb")
  );
  min-height: calc(var(--header-height)*1.45);

  & h1 {
    padding-top: 1rem;

    font-weight: 900;
    font-size: 4rem;
    line-height: 4rem;
    font-family: cookie, cursive;
    filter: invert(1) grayscale(1) contrast(9) drop-shadow(0.05em 0.05em orange);
  }
}


main:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 390px;
  background-image: url("assets/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  animation: wave 2s ease-in-out infinite alternate;
  mix-blend-mode: color;
  opacity: 0.8;
  pointer-events: none;
}
main {
  display: flex;
  flex-direction: column;

  background-image: url("assets/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  animation: wave-bot 2s ease-in-out infinite alternate;

  padding-bottom: 8rem;

  & section:first-of-type {
    position: absolute;
    align-self: center;

    top: 152px;
    padding: 0.25rem 0.5rem;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: center;
    color: white;

    background: rgba(151, 183, 145, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    border: 1px solid rgba(151, 183, 145, 0.47);
    border-radius: 0.625rem;

    & p {
      font-weight: 600;
    }
  }

  & section:last-of-type {
    background-image: url(assets/wavetop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    animation: wave-top 8s ease-in-out infinite alternate;

    padding: 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      text-align: center;
      padding: 2.5rem 0 0;

      font-weight: 900;
      font-size: 3rem;
      line-height: 3rem;
      filter: contrast(1);
    }

    & ul {
      padding: 2.5rem 0 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;

      & li:hover {
        transform: scale(1.025);
        color: black;
      }
      & li:active {
        border: 1px solid var(--color-glow-dark);
      }
      & li {
        border-radius: 20px;
        padding: 1rem;
        cursor: pointer;

        background: #f1e7ca;
        box-shadow: 20px 20px 60px #cdc4ac, -20px -20px 60px #ffffe8;

        --beach-img: image-set(
          url("assets/img/publ_beach_600.avif") type("image/avif"),
          url("assets/img/publ_beach_600.webp") type("image/wepb")
        );
        transition: all .2s, border 0s;

        & h3::after {
          content: "";
          margin: 0.5rem 0;
          display: block;
          min-height: 10rem;
          border-radius: 0.5rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("assets/img/publ_beach.jpg");
          background-image: var(--beach-img);
        }
      }
    }
  }
}


@media (min-width: 430px) {
  header {
    min-height: calc(var(--header-height)*1.35);
  }
  main {
    & section:first-of-type {
      top: 162px;
      padding: 0.5rem 1rem;
      margin: 0 1rem;
    }
  }
}
@media (min-width: 648px) {
  header {
    min-height: calc(var(--header-height)*1.2);
  }
  main {
    & section:first-of-type {
      top: 132px;
      padding: 1rem 2rem;
      margin: 0 2rem;
    }
  }
}
@media (min-width: 948px) {
  header {
    min-height: var(--header-height);
  }
  main {
    & section:first-of-type {
      top: 112px;
      padding: 1rem 3rem;
      margin: 0 4rem;
      min-height: calc(var(--header-height) / 2);
      max-width: 1408px;
    }
  }
}

@keyframes wave {
  from {
    background-position: bottom;
    background-size: 100%;
  }

  to {
    background-position: bottom 16px right 0px;
    background-size: 120%;
  }
}
@keyframes wave-bot {
  from {
    background-position: bottom;
  }

  to {
    background-position: bottom -6px right 0px;
  }
}
@keyframes wave-top {
  from {
    background-position: top;
    background-size: 100%;
  }

  to {
    background-position: top -8px right 0px;
    background-size: 160%;
  }
}

@keyframes btn-bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}
